# Virtual environment
venv/

# Data files (large — will use DVC later)
data/raw/
data/processed/*.csv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# MLflow
mlruns/

# Environment variables
.env

# IDE
.vscode/
.idea/

# DVC cache
.dvc/cache/

data/features/*
!data/features/*.dvc

models/*
!models/*.dvc

data/interim/

models/
data/features/
*.pkl